<div class="addShoopingList">
    
    <div class="form-container">
        <form action="/shoppingList/{{shoppingList._id}}" method="POST">
            <input type="hidden" name="_method" value="put">
            <div class="form left">
                <h3>Add Shopping List</h3>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="input-city" value={{shoppingList.name}}>
            </div>
            
            <div >
                <div class="row">
                    <input type="submit" value="Save" class="formBtnSave">
                    <a href="/shoppingList/details/{{shoppingList._id}}" class="formBtnCancel">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>